<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957666081711-7sha70fl00fok56q16sf2rg2hre9vrc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957666081711-7sha70fl00fok56q16sf2rg2hre9vrc8</string>
	<key>apiKey</key>
	<string>AIzaSyBmvvcMX-JR82HVY8fOl3PSUFbopVOgWQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>957666081711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.submissionAkhir</string>
	<key>PROJECT_ID</key>
	<string>ditonton-8208e</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-8208e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957666081711:ios:7f9cb0e4a985f5fc524d5a</string>
</dict>
</plist>